body {
    margin: 0;
    font-family: Arial;
    background: #050814;
    color: white;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: #0b1020;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff7a1a;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
